.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.result {
    border: #333 1px solid;
    padding: 0.5rem;
}
