.container{
    width: 800px;
    margin-top: 10vh;
}

.delivery-info {
  width: 100%;
}

.delivery-info .subtitle {
  padding-left: 0.4rem;
}

.delivery-info .field-label {
  flex-basis: 7rem;
  flex-grow: 0;
  text-align: left;
  height: 3rem;
  line-height: 2rem;
  padding-left: 0.5rem;
}

.delivery-info .field-body,
.delivery-info .select {
  flex-basis: 35rem;
  flex-grow: 0;
  height: 3rem;
}

.select select {
  width: 100%;
  height: 100%;
  color: rgba(0, 0, 0, 0.3);
}

.select .select-option {
  font-size: 1.1rem;
  color: black;
}

.delivery-info .button {
  height: 3rem;
}

.delivery-info .field-body .control,
.delivery-info .field-body .input {
  height: 100%;
}

.delivery-info .custom-request {
  display: none;
}

.button.is-primary {
  width: 100%;
  margin-top: 3rem;
}