.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #bcbcbc;
  }
  
  .product-item {
    padding: 1rem;
    background-color: #ddd;
    display: flex;
    justify-content: center;
  }
  
  .product-item img {
    height: 400px;
    width: 400px;
  }
  
  .description {
    display: flex;
    flex-direction: column;
  }
  
  .description .detail {
    flex-grow: 1;
  }
  
  .description .price {
    margin-bottom: 3rem;
  }

  .result {
    border: #333 1px solid;
    padding: 0.5rem;
  }
  
  .input-container {
    display: flex;
  }
  
  .input {
    width: 3rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
  }

  img {
    width: 200px;
    height: 200px;
    margin: 5px;
    text-align: center;
    transition-duration: 0.4s;
  }

  img:hover {
    width: 600px;
    height: 600px;
    justify-content: center;
    margin-top: 50px;
    cursor: pointer;
  }

  .animation {
    animation-name: changeWidth;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: 6;
    animation-direction: alternate;
  }

  @keyframes changeWidth {
    from { width: 300px; }
    to { width: 600px; }
  }

  
  /* 숫자 input 상자의 화살표를 없앰 */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }