<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog 가입하기</title>
</head>
<body>
    <main>
        <article>
            <form action="/users/signup" method="post">
                <div>
                    <label for="email">이메일 </label>
                    <input type="text" name="email" placeholder="choco@naver.com">
                </div>
                
                <div>
                    <label for="password">비밀번호</label>
                <input name="password" id="password" cols="30" rows="10"></input>
                </div>

                <div>
                    <input type="submit" value="가입하기">
                </div>
                
            </form>
        </article>
    </main>
</body>
</html>