<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <form action="/post" method="post">
        <input type="text" name="name" placeholder="choco">
        <input type="number" name="phone" placeholder="01012345678">
        <input type="date" name="date">
        <input type="submit" value="전송하기">
    </form>

    <form action="/post/addbook" method="post">
        <input type="text" name="bookName" placeholder="choco story">
        <input type="text" name="author" placeholder="choco">
        <input type="number" name="price" placeholder="12000">
        <input type="date" name="publish">
        <input type="submit" value="전송하기">
    </form>
</body>
</html>